!.gitattributes
!.gitignore
*~
*.orig
*.log
*.run
*.tgz
*.xz
*.pkg
*.bak
*.tar.gz
*.tar.zst
*.deb
*.old
*.db
*.files
*/src/
*/pkg/
wine-tkg-git/wine-staging-git/
wine-tkg-git/wine-git/
wine-tkg-git/wine-mirror-git/
wine-tkg-git/ValveSoftware-wine/
wine-tkg-git/ValveSoftware-winegit/
wine-tkg-git/wine-tkg-userpatches/
!wine-tkg-git/wine-tkg-userpatches/README.md
wine-tkg-git/dxvk/
wine-tkg-git/d9vk/
wine-tkg-git/non-makepkg-builds/
wine-tkg-git/proton_dist/
